<?xml version="1.0"?>
<!--
     Example launch of using two scanners in parallel

     In this example we use two TIM5xx-scanner with a mounting distance of 2 m.
     Do see the result in rviz we recommend the following settings:

     1. Global Options->Fixed Frame: map
     2. Pointcloud2->Topic: /cloud_1
     3. Pointcloud2->Topic: /cloud_2
     4. Modify the given ip addresses to your local setup.
     Remark: Add two Pointcloud2-Visualizer to the Displays-Windows.
     You can also add two Laserscan-Visualizer. Please set the topic for laserscan-Visualizer to /scan_1 and /scan_2 in this case.

-->
<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sick_scan)/urdf/example.urdf.xacro'" />

  <node pkg="tf" type="static_transform_publisher" name="scanner1_to_map" args="0 0 0 0 0 0 map laser_1 100" />

<!--
  <node pkg="tf" type="static_transform_publisher" name="scanner2_to_map" args="2 0 0 0 0 0 map laser_2 100" />
-->

  <node name="sick_tim_5xx_1" pkg="sick_scan" type="sick_generic_caller"  respawn="false" output="screen">
    <param name="scanner_type" type="string" value="sick_tim_5xx" />
    <param name="frame_id" value="laser_1"/>
    <param name="min_ang" type="double" value="-2.35619449" /><!-- -135° -->
    <param name="max_ang" type="double" value="2.35619449" /><!-- 135° -->
    <param name="range_max" type="double" value="100.0" />
    <param name="intensity" type="bool" value="True" />
    <param name="hostname" type="string" value="192.168.0.71" />
    <param name="port" type="string" value="2112" />
    <param name="timelimit" type="int" value="5" />
    <remap from="scan" to="scan_1" />
    <remap from="cloud" to="cloud_1" />

  </node>
  <node name="sick_tim_5xx_2" pkg="sick_scan" type="sick_generic_caller"  respawn="false" output="screen">
    <param name="scanner_type" type="string" value="sick_mrs_6xxx" />
    <param name="frame_id" value="laser_2"/>
    <param name="min_ang" type="double" value="-1.02974" /><!-- -59° -->
    <param name="max_ang" type="double" value="1.02974" /><!-- 59° -->
    <param name="range_max" type="double" value="100.0" />
    <param name="intensity" type="bool" value="True" />
    <param name="hostname" type="string" value="192.168.0.24" />
    <param name="port" type="string" value="2112" />
    <param name="timelimit" type="int" value="5" />
    <remap from="scan" to="scan_2" />
    <remap from="cloud" to="cloud_2" />

  </node>
</launch>

